* {
    -fx-font-family: 'Varela Round';
    -fx-alignment: center;
    -fx-text-fill: #fff;
}

#container {
    -fx-background: #35B55C;
    -fx-pref-width: 500px;
    -fx-padding: 75px;
    -fx-spacing: 20px;
}